@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Martel+Sans&family=Montserrat&family=Oxygen:wght@400&display=swap");

@font-face {
    font-family: "Manrope";
    src: url("../public/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
}

.font-manrope {
    font-family: "Manrope", sans-serif;
}

@keyframes rotateRight {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes rotateLeft {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.rotate-on-hover {
    transition: transform 0.5s ease;
}

.rotate-on-hover:hover {
    animation: rotateRight 0.5s forwards;
}

.rotate-on-hover:not(:hover) {
    animation: rotateLeft 0.5s forwards;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
}

.pulse-on-leave {
    animation: pulse 2s infinite cubic-bezier(0.4, 0, 0.6, 1);
}
  
  
  